[Unit]
Description=BangSong News Homepage Service
After=network.target

[Service]
Type=simple
User=kca1000plus
Group=kca1000plus
WorkingDirectory=/home/kca1000plus/bangsong/news-homepage
Environment=PATH=/home/kca1000plus/bangsong/news-homepage/venv/bin
ExecStart=/home/kca1000plus/bangsong/news-homepage/venv/bin/python run.py
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
